$accent: #e4a436;
$primary: #345231;
$secondary: #709b6b;
$white: #f6f6f6;
$black :#1f1f1f;
$basefont: "Montserrat";
$headfont: "AbrilFatface";

h1 {
    font-family: $headfont;
}

nav {
    font-family: $basefont;
}