// HEADER

.header__main {
    display: relative;
    background: $primary;
    width: 100%;
}

// NAVIGATION STYLING

.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    &__container {
        width: 50%;
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    &__item {
       margin-top: 15px;
       font-size: 20px;
        &--selected {
            font-family: $headfont;
            font-size: 40px;
            margin-top: 7px;
        }
    }
    &__link {
         text-transform: uppercase;
         text-decoration: none;
         color: #fff;
         &--active {
            color: $accent;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

// TITLE STYLING

.title-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    &__wrapper {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__circle-text {
        width: 10%;
        position: absolute;
        top: 24rem;
        left: 12rem;
    } 
    &__profile {
        position: relative;
        top: 8rem;
        &-image {
            max-width: 100%;
            box-shadow: 20px 20px 0 #fff;
        }
    }
    &__main-text {
        font-family: $headfont;
        font-size: 5vw;
        color: #fff;
    }
}

  
