

// 15 INCH MACBOOK

@media (max-width: 1440px){
    .title-container {
        &__circle-text {
            left: 10rem;
        }
        &__profile {
            left: 1.5rem;
        }
    }
}

// SOME LAPTOPS

@media (max-width: 1366px){
    .title-container {
         &__circle-text {
            top: 22rem;
            left: 9rem;
        }

    }
}

// MACBOOK AIR

@media (max-width: 1280px){
    .title-container {
        &__circle-text {
            top: 20rem;
            left: 8rem;
        }
    }
    .nav {
        &__container {
            width: 60%;
        }
    }

    .featured {
        &__image {
            margin-top: 1rem;
        }
    }
}

// NETBOOKS & IPADS



@media (max-width: 1190px){
    .title-container {
        &__circle-text {
            top: 18rem;
            left: 8rem;
        }
    }
    .nav {
        &__container {
            width: 60%;
        }
    }
}

@media (max-width: 1070px){
    .title-container {
        &__circle-text {
            top: 18rem;
            left: 7rem;
        }
    }
}




@media (max-width: 1070px){
    .title-container {
        &__circle-text {
            top: 18rem;
            left: 7rem;
        }
    }
}


@media (max-width: 1024px){
    .nav {
        display: none;
    }
    .title-container {
        &__circle-text {
            top: 17rem;
            left: 6rem;
        }
    }

    .blog, .blog-two {
        &__blog-container {
            flex-direction: column;
            width: 70%;
        }


    }

    .blog-two {
        &__right-side {
            margin-top: 2.5rem;
        }
    }

    .featured {
        flex-direction: column;
        &__container {
            flex-direction: column;
        }
    }
}



// VARIOUS PHONES

@media (max-width: 960px){
    .title-container {
        &__circle-text {
            top: 14.5rem;
            left: 6rem;
        }
    }

    .gallery {
        &__container {
            flex-direction: column;
        }
        &__image {
            width: 100%;
        }
    }

    .featured {
        &__featured-container {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        &__right-side {
            width: 60%;
        }
    }
       
    .info {
         flex-direction: column;
         align-items: center;
         justify-content: center;
         flex-wrap: nowrap;
        &__container, &__container-two {
            flex-direction: column;
            width: 100%;
            align-items: center;
            text-align: center;
        }
    }

}



@media (max-width: 800px){
    .title-container {
        &__circle-text {
            top: 13.5rem;
            left: 6rem;
        }
    }
}



@media (max-width: 768px){
    .title-container {
         &__circle-text {
            top: 13rem;
            left: 5rem;
        }
    }
}



@media (max-width: 720px){
    .title-container {
         &__wrapper {
            margin-top: -1rem;
            flex-direction: column;
         }
         &__circle-text {
            top: 12rem;
            left: 5rem;
        }
        &__profile {
            top: 3rem;
            left: 3.5rem;
                &-image {
                    width:80%;
                }
        }
        &__circle-text {
            top: 4rem;
            left: 17rem;
        }
        &__main-text {
            position: relative;
            top: 2rem;
        }
    }
}


@media (max-width: 640px){
    .title-container {
         &__circle-text {
            top: 3.5rem;
            left: 15rem;
        }
    }
}

@media (max-width: 570px){
    .title-container {
         &__circle-text {
            top: 3.5rem;
            left: 13rem;
        }
    }
}


@media (max-width: 480px){
    .title-container {
        &__circle-text {
            top: 2.7rem;
            left: 11rem;
    

    }
}
}



@media (max-width: 320px){
    .title-container {
        &__profile {
            top: 7rem;
            right: 3rem;
        }
        &__circle-text, &__main-text {
            display: none;
        }
    }
}
