article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

section {
  max-width: 100vw; }

img {
  max-width: 100%; }

h1 {
  font-family: "AbrilFatface";
  text-transform: uppercase; }

h2 {
  font-family: "AbrilFatface";
  letter-spacing: 1px;
  font-size: 42px;
  text-transform: uppercase; }

h3 {
  margin: 0;
  font-family: "AbrilFatface";
  text-transform: uppercase;
  font-size: 32px; }

p {
  font-family: "Montserrat";
  font-size: 17px;
  line-height: 32px; }

nav {
  font-family: "Montserrat";
  font-weight: 700; }

.button {
  font-family: "AbrilFatface";
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #1f1f1f;
  background: #e4a436;
  padding: 15px 20px; }

label {
  display: none; }

.header__main {
  display: relative;
  background: #345231;
  width: 100%; }

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .nav__container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none; }
  .nav__item {
    margin-top: 15px;
    font-size: 20px; }
    .nav__item--selected {
      font-family: "AbrilFatface";
      font-size: 40px;
      margin-top: 7px; }
  .nav__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }
    .nav__link--active {
      color: #e4a436;
      text-decoration: none;
      text-transform: uppercase; }

.title-container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .title-container__wrapper {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .title-container__circle-text {
    width: 10%;
    position: absolute;
    top: 24rem;
    left: 12rem; }
  .title-container__profile {
    position: relative;
    top: 8rem; }
    .title-container__profile-image {
      max-width: 100%;
      -webkit-box-shadow: 20px 20px 0 #fff;
      box-shadow: 20px 20px 0 #fff; }
  .title-container__main-text {
    font-family: "AbrilFatface";
    font-size: 5vw;
    color: #fff; }

.main {
  width: 100%; }

.about {
  width: 100%;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .about__container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 125px auto; }
  .about__title {
    margin: 0 auto;
    font-family: "AbrilFatface";
    font-size: 42px; }
  .about__text, .about__button {
    text-align: center; }
  .about__button {
    margin: 0 auto; }

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }
  .blog__blog-container {
    margin-bottom: 40px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .blog__image-box {
    width: 100%;
    margin-left: -3rem; }
  .blog__image {
    width: 100%;
    position: relative;
    top: -2rem;
    -webkit-box-shadow: -150px 14px #709b6b, 20px 14px #709b6b;
    box-shadow: -150px 14px #709b6b, 20px 14px #709b6b;
    -o-object-fit: cover;
    object-fit: cover; }
  .blog__right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 1rem; }
  .blog__title, .blog__text {
    text-align: left;
    width: 80%; }
  .blog__button {
    width: 40%;
    text-align: center;
    display: relative;
    margin-left: -13rem; }

.blog-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }
  .blog-two__blog-container {
    margin-top: 40px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .blog-two__image-box {
    width: 100%;
    margin-right: -3rem; }
  .blog-two__image {
    width: 100%;
    position: relative;
    top: 2rem;
    -webkit-box-shadow: 150px -14px #345231, -20px -14px #345231;
    box-shadow: 150px -14px #345231, -20px -14px #345231;
    -o-object-fit: cover;
    object-fit: cover; }
  .blog-two__right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    margin-top: .5rem; }
  .blog-two__title, .blog-two__text {
    text-align: right;
    width: 80%; }
  .blog-two__button {
    width: 40%;
    text-align: center;
    display: relative;
    margin-left: 13rem; }

.featured {
  width: 100%;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .featured__featured-container {
    width: 80%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 100px auto; }
  .featured__right-side {
    width: 70%;
    margin-left: 9rem;
    margin-top: 1rem; }
  .featured__title {
    margin-top: -1rem;
    margin-bottom: 0; }
  .featured__text {
    margin-bottom: 5rem; }
  .featured__image {
    -webkit-box-shadow: 20px 20px #709b6b;
    box-shadow: 20px 20px #709b6b; }

.banner__image {
  width: 100vw; }

.gallery {
  width: 100%; }
  .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 60px auto; }
  .gallery__image {
    width: 33.33%;
    margin: 1rem 1rem; }

.info {
  width: 100%;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative; }
  .info__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 80%;
    position: relative;
    margin-top: 100px; }
  .info__container-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 80%;
    position: relative;
    margin-bottom: 100px; }
  .info__photo-box, .info__about-box, .info__blog-box, .info__contact-box {
    margin-top: 4rem;
    width: 40%; }

.icon, .icon-secondrow {
  width: 50px;
  height: 50px;
  background-color: #e4a436;
  border-radius: 100%;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  margin-top: 2.5%;
  margin-left: 2%; }

i {
  font-size: 20px;
  color: #1f1f1f; }

.button {
  -ms-flex-item-align: center;
  align-self: center; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 8%;
  background: #1f1f1f; }
  .footer__text {
    color: #fff;
    margin: 4px auto; }

@media (max-width: 1440px) {
  .title-container {
    border: 1px solid red; }
    .title-container__circle-text {
      left: 10rem; }
    .title-container__profile {
      left: 1.5rem; } }

@media (max-width: 1366px) {
  .title-container {
    border: 1px solid orange; }
    .title-container__circle-text {
      top: 22rem;
      left: 9rem; } }

@media (max-width: 1280px) {
  .title-container {
    border: 1px solid yellow; }
    .title-container__circle-text {
      top: 20rem;
      left: 8rem; }
  .nav__container {
    width: 60%; }
  .featured__image {
    margin-top: 1rem; } }

@media (max-width: 1190px) {
  .title-container {
    border: 1px solid thistle; }
    .title-container__circle-text {
      top: 18rem;
      left: 8rem; }
  .nav__container {
    width: 60%; } }

@media (max-width: 1070px) {
  .title-container {
    border: 1px solid navy; }
    .title-container__circle-text {
      top: 18rem;
      left: 7rem; } }

@media (max-width: 1070px) {
  .title-container {
    border: 1px solid navy; }
    .title-container__circle-text {
      top: 18rem;
      left: 7rem; } }

@media (max-width: 1024px) {
  .nav {
    display: none; }
  .title-container {
    border: 1px solid green; }
    .title-container__circle-text {
      top: 17rem;
      left: 6rem; }
  .blog, .blog-two {
    border: 1px solid red; }
    .blog__blog-container, .blog-two__blog-container {
      border: 1px solid yellow;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 70%; }
  .blog-two__right-side {
    margin-top: 2.5rem; }
  .featured {
    border: 1px solid blue;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .featured__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

@media (max-width: 960px) {
  .title-container {
    border: 1px solid blue; }
    .title-container__circle-text {
      top: 14.5rem;
      left: 6rem; }
  .gallery {
    border: 1px solid red; }
    .gallery__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .gallery__image {
      width: 100%; }
  .featured__featured-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .featured__right-side {
    width: 60%; }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .info__container, .info__container-two {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

@media (max-width: 800px) {
  .title-container {
    border: 1px solid purple; }
    .title-container__circle-text {
      top: 13.5rem;
      left: 6rem; } }

@media (max-width: 768px) {
  .title-container {
    border: 1px solid turquoise; }
    .title-container__circle-text {
      top: 13rem;
      left: 5rem; } }

@media (max-width: 720px) {
  .title-container {
    border: 1px solid rebeccapurple; }
    .title-container__wrapper {
      margin-top: -1rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .title-container__circle-text {
      top: 12rem;
      left: 5rem; }
    .title-container__profile {
      top: 3rem;
      left: 3.5rem; }
      .title-container__profile-image {
        width: 80%; }
    .title-container__circle-text {
      top: 4rem;
      left: 17rem; }
    .title-container__main-text {
      position: relative;
      top: 2rem; } }

@media (max-width: 640px) {
  .title-container {
    border: 1px solid goldenrod; }
    .title-container__circle-text {
      top: 3.5rem;
      left: 15rem; } }

@media (max-width: 570px) {
  .title-container {
    border: 1px solid goldenrod; }
    .title-container__circle-text {
      top: 3.5rem;
      left: 13rem; } }

@media (max-width: 480px) {
  .title-container {
    border: 1px solid tomato; }
    .title-container__circle-text {
      top: 2.7rem;
      left: 11rem; } }

@media (max-width: 320px) {
  .title-container {
    border: 1px solid mediumspringgreen; }
    .title-container__profile {
      top: 7rem;
      right: 3rem; }
    .title-container__circle-text, .title-container__main-text {
      display: none; } }

@media (max-width: 1024px) {
  label {
    display: block; }
    label .menu {
      position: absolute;
      left: -100px;
      top: -100px;
      z-index: 100;
      width: 200px;
      height: 200px;
      background: #e4a436;
      border-radius: 50% 50% 50% 50%;
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      -webkit-box-shadow: 0 0 0 0 #e4a436, 0 0 0 0 #e4a436;
      box-shadow: 0 0 0 0 #e4a436, 0 0 0 0 #e4a436; }
    label .hamburger {
      position: absolute;
      top: 135px;
      right: 50px;
      width: 30px;
      height: 2px;
      background: #f6f6f6;
      display: block;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }
      label .hamburger:after, label .hamburger:before {
        -webkit-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #f6f6f6; }
      label .hamburger:before {
        top: -10px; }
      label .hamburger:after {
        bottom: -10px; }
    label input {
      display: none; }
    label input:checked + .menu {
      -webkit-box-shadow: 0 0 0 100vw #e4a436, 0 0 0 100vh #e4a436;
      box-shadow: 0 0 0 100vw #e4a436, 0 0 0 100vh #e4a436;
      border-radius: 0; }
      label input:checked + .menu .hamburger {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
        label input:checked + .menu .hamburger:after {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          bottom: 0; }
        label input:checked + .menu .hamburger:before {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          top: 0; }
    label input:checked + .menu + ul {
      opacity: 1; }
    label ul {
      z-index: 200;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      -webkit-transition: .25s 0s ease-in-out;
      -o-transition: .25s 0s ease-in-out;
      transition: .25s 0s ease-in-out;
      list-style: none; }
    label a {
      margin-bottom: 1em;
      display: block;
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 5rem;
      font-family: "AbrilFatface";
      font-weight: bold;
      color: #f6f6f6;
      text-align: center; } }

.blog-header {
  background: url(../assets/blog-image-1.jpg);
  background-position: bottom;
  height: 50vh;
  position: relative; }

.nav-blog, .nav-contact {
  background: #345231; }
  .nav-blog__link, .nav-contact__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }
    .nav-blog__link--active, .nav-contact__link--active {
      color: #e4a436;
      text-decoration: none;
      text-transform: uppercase; }

.title-textwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  border: 1px solid red; }

.title-text {
  border: 1px solid yellow;
  width: 80%;
  color: #fff;
  position: relative;
  margin-top: 16.9%;
  left: 165px;
  font-size: 5vw; }

@media (max-width: 1440px) {
  .title-text {
    margin-top: 16%; } }

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background: #f6f6f6; }
  .blog-container__wrapper {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 100px auto; }
  .blog-container__aside {
    width: 30%; }
    .blog-container__aside .about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background: #fff;
      padding: 38px;
      margin-bottom: 15px; }
      .blog-container__aside .about__heading {
        font-size: 24px;
        margin: 30px 0; }
      .blog-container__aside .about__text {
        margin-top: 0;
        text-align: left; }
      .blog-container__aside .about__link {
        font-size: 20px;
        text-transform: none;
        letter-spacing: normal;
        font-weight: 700;
        color: #709b6b;
        text-decoration: none; }
    .blog-container__aside .recent-posts {
      background: #fff;
      padding: 38px; }
      .blog-container__aside .recent-posts__heading {
        font-size: 24px;
        margin-bottom: 30px; }
      .blog-container__aside .recent-posts__item {
        display: list-item;
        list-style-type: disc;
        text-align: left;
        padding-bottom: 2px;
        margin-left: -40px;
        line-height: 29px;
        color: #1f1f1f; }
      .blog-container__aside .recent-posts__link {
        color: #1f1f1f;
        font-size: 20px;
        font-family: "Montserrat";
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: none; }
  .blog-container__main {
    width: 66.66%; }
    .blog-container__main .featured-blog {
      background: #fff;
      padding: 38px;
      margin-bottom: 30px;
      border-bottom: 5px solid #709b6b; }
      .blog-container__main .featured-blog__heading {
        font-size: 32px; }
    .blog-container__main .blog-comments__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      padding: 38px;
      background: #fff; }
    .blog-container__main .blog-comments__container:first-child {
      margin-bottom: 20px; }
    .blog-container__main .blog-comments__container:last-child {
      border-bottom: 5px solid #709b6b;
      margin-bottom: 30px; }
    .blog-container__main .blog-comments__avatar {
      width: 12%; }
    .blog-container__main .blog-comments__post {
      width: 86%; }
    .blog-container__main .blog-comments__date, .blog-container__main .blog-comments__text {
      margin: 0; }

.blog-form, .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .blog-form__top, .contact-form__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .blog-form__name, .blog-form__email, .blog-form__comment, .blog-form__message, .contact-form__name, .contact-form__email, .contact-form__comment, .contact-form__message {
    font-family: "Montserrat";
    font-size: 20px;
    border: none; }
    .blog-form__name::-webkit-input-placeholder, .blog-form__email::-webkit-input-placeholder, .blog-form__comment::-webkit-input-placeholder, .blog-form__message::-webkit-input-placeholder, .contact-form__name::-webkit-input-placeholder, .contact-form__email::-webkit-input-placeholder, .contact-form__comment::-webkit-input-placeholder, .contact-form__message::-webkit-input-placeholder {
      color: #1f1f1f;
      opacity: 1; }
    .blog-form__name:-ms-input-placeholder, .blog-form__email:-ms-input-placeholder, .blog-form__comment:-ms-input-placeholder, .blog-form__message:-ms-input-placeholder, .contact-form__name:-ms-input-placeholder, .contact-form__email:-ms-input-placeholder, .contact-form__comment:-ms-input-placeholder, .contact-form__message:-ms-input-placeholder {
      color: #1f1f1f;
      opacity: 1; }
    .blog-form__name::-ms-input-placeholder, .blog-form__email::-ms-input-placeholder, .blog-form__comment::-ms-input-placeholder, .blog-form__message::-ms-input-placeholder, .contact-form__name::-ms-input-placeholder, .contact-form__email::-ms-input-placeholder, .contact-form__comment::-ms-input-placeholder, .contact-form__message::-ms-input-placeholder {
      color: #1f1f1f;
      opacity: 1; }
    .blog-form__name::placeholder, .blog-form__email::placeholder, .blog-form__comment::placeholder, .blog-form__message::placeholder, .contact-form__name::placeholder, .contact-form__email::placeholder, .contact-form__comment::placeholder, .contact-form__message::placeholder {
      color: #1f1f1f;
      opacity: 1; }
  .blog-form__name, .blog-form__email, .contact-form__name, .contact-form__email {
    width: 50%;
    padding: 30px 38px; }
  .blog-form__comment, .blog-form__message, .contact-form__comment, .contact-form__message {
    padding: 38px;
    margin: 20px 0; }

.submit {
  background: #e4a436;
  padding: 20px 50px;
  font-family: "AbrilFatface";
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder; }

.contact-header {
  background: url(../assets/contact-image-1.jpg);
  background-position: bottom;
  height: 50vh; }

.contact-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: 90px 0;
  background: #f6f6f6; }
  .contact-main .wrapper {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .contact-main .social {
    width: 30%;
    padding: 40px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: #fff; }
    .contact-main .social__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 66.66%;
      list-style: none; }
    .contact-main .social__icon {
      font-size: 3rem;
      color: #345231;
      margin-left: -4rem; }
    .contact-main .social__email {
      font-family: "Montserrat";
      font-weight: 700;
      text-decoration: none;
      color: #1f1f1f;
      font-size: 24px;
      text-transform: none;
      margin: 25px 0; }
    .contact-main .social__phone, .contact-main .social__address, .contact-main .social__city-prov, .contact-main .social__postal-code {
      font-family: "Montserrat";
      font-size: 24px;
      font-weight: 400;
      text-align: left;
      text-transform: none;
      text-decoration: none;
      color: #1f1f1f; }
    .contact-main .social__phone:hover, .contact-main .social__address:hover, .contact-main .social__email:hover {
      color: #e4a436; }
    .contact-main .social__city-prov, .contact-main .social__postal-code {
      margin: 0; }
  .contact-main .contact {
    width: 66.66%; }

.button:hover {
  -webkit-box-shadow: 5px 5px black;
  box-shadow: 5px 5px black; }

.nav__link:hover {
  color: #e4a436; }
  .nav__link:hover--selected:hover {
    color: #fff; }

i:hover {
  font-size: 30px; }
